mkcd()
{
        mkdir -p "$1" && cd "$1"
}

alias cp='cp -a'
alias ls='ls -AG'
alias g++='g++ -std=c++11'
alias python='python3'
alias rsync='rsync -aPz'
alias start-ssh='systemctl start sshd.service'
alias stop-ssh='systemctl stop sshd.service'
alias clean='pacman -Rns $(pacman -Qtdq)'
alias play='mplayer -vo vaapi -va vaapi -fs -vfm ffmpeg -lavdopts fast:skiploopfilter=all'
alias multi-monitor='xrandr --output HDMI3 --auto --output LVDS1 --auto --left-of HDMI3'
alias single-monitor='xrandr --output HDMI3 --off'
alias show-ip='ip addr show dev wlp3s0'

alias gpf='git push --force-with-lease'

alias tmux='tmux -2'
alias ts='tmux new -s '
alias ta='tmux a -t '
alias tls='tmux ls'

alias dr='docker run -it'
alias drm='dr --rm'
alias di='docker images'
alias dps='docker ps -a'
alias drmi='docker images | grep "<none>" | tr -s " " | cut -d " " -f 3 | xargs docker rmi'
alias ds='docker start'
alias da='docker attach'
